
.container{
  display: grid;
}
.container-main{
  display: grid;
  grid-auto-rows: auto auto;
  grid-gap: 90px;
}
.adMainPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-artist-intro{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}
.artistTable{
  display: grid;
  grid-template-columns: 400px 400px;
  justify-content: center;
  grid-gap: 40px;

}
