nav{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
//  margin-top: 15px;
  .logo{
    position: relative;
    top:-20px;
    height: 100px;
  }
  .links{
    display: flex;
    flex-direction: row;

    li{
      list-style: none;
      margin-right: 20px;
      a{
        color:black ;
        font-size: 20px;
        text-decoration: none;
      }
    }
    a:hover{
      border-bottom: 5px solid black;
    }
  }
  ul{
    display: flex;
    flex-direction: row;
    li{
      list-style: none;
      margin-right: 20px;
      a{
        color:black ;
        font-size: 20px;
        text-decoration: none;
      }
    }
  }
}